* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;
  background-color: #20232a;
  /* position: sticky; */
}

section {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 90%;
  flex-direction: column;
  padding-top: 5em;
}

nav {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin-right: 1em;
}

.navBtn {
  background-color: #323840;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}


.logout,
.home,
.about {
  width: 100%;
  margin: 1em;
}

.login,
.signup {
  margin-left: 3em;
}

.navBtn:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.logo {
  cursor: pointer;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.user-icon {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  padding: 5px;
  margin-right: 2em;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-icon:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.5);
}

.menu-op {
  position: absolute;
  height: 30%;
  top: 3.4em;
  right: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: #20232a;
  padding: 1em;
  /* box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); */
  border-radius: 7px;
}

.menu-op p {
  margin-bottom: .5em;
}



.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding-top: 6em;
}

.card {
  cursor: pointer;
  background-color: #343a45;
  border: 1px solid gray;
  min-width: 20%;
  min-height: 30%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  margin: 1em 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2em;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

.card h2 {
  margin-bottom: 1em;
}

form {
  background-color: #343a45;
  color: #d1d5db;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 2em;
  border-radius: 1em;
  width: 25%;
  display: flex;
  min-height: 60%;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

input {
  color: #ffffff;
  padding: 10px 12px;
  margin: 5px;
  border-radius: 6px;
  transition: border-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #ffffff;
  transform: scale(1.01);
}

.login-username,
.login-password,
.login-email,
.tfa-input {
  background-color: transparent;
  border: 1px solid gray;
  width: 100%;
  height: 50%;
  padding-left: 0.5em;
}

.tfa-input{
  height: 3em;
  margin: 3em 0;
}

.tfa-form{
  min-height: 40%;
}

label {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0.3em;
  height: 18%;
}

.showPw {
  display: flex;
  align-items: center;
  width: 75%;
}

.chack {
  margin-right: 5px;
  cursor: pointer;
}

.login-btn {
  width: 75%;
  height: 10%;
  margin-top: 1.5em;
  font-size: 18px;
  background-color: #444c56;
  border: none;
  color: #d1d5db;
  cursor: pointer;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container:has(.card-post-container:hover) .card-post-container:not(:hover) {
  filter: blur(4px);
  opacity: 0.5;
}

.card-post-container:hover {
  transform: scale(1.05);
  opacity: 1;
  filter: none;
}

.card-post-container{
  background-color: #343a45;
  padding:  0 10px;
  border: 1px solid gray;
  border-radius: .6em;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  height: 50%;
  width: 18%;
  margin: 8.5em 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.card-post-container:hover{
  transform: scale(1.12);
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.5);
}

.card-post-container h3{
  margin: 1.5em 0;
}

.card-post-container p{
  margin-bottom: 10em;

}