* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-width: 100%;
  height: 95vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;
  background-color: #20232a;

  /* position: sticky; */
}

section {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 95%;
  flex-direction: column;
  padding: 2% 0;
}

nav {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin-right: 1em;
}
nav div {
  display: flex;
  margin: 0;
}

.navBtn {
  background-color: #323840;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logout,
.home,
.about {
  width: 100%;
  margin: 1em;
}

.login,
.signup {
  margin-left: 3em;
}

.navBtn:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.logo {
  cursor: pointer;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.user-icon {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  border-radius: 2em;
  padding: 5px;
  margin-right: 2em;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-icon:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.5);
}

.menu-op {
  position: absolute;
  min-height: 30%;
  top: 3.4em;
  right: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: #20232a;
  padding: 1em;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

.menu-op p {
  margin-bottom: 0.5em;
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding-top: 6em;
}

.card {
  cursor: pointer;
  background-color: #343a45;
  border: 1px solid gray;
  min-width: 20%;
  min-height: 30%;
  border-radius: 0.5em;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  margin: 1em 2.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2em;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

.card h2 {
  margin-bottom: 1em;
}

form {
  background-color: #343a45;
  color: #d1d5db;
  padding: 1.2em;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 2em;
  border-radius: 1em;
  width: 25%;
  display: flex;
  min-height: 63%;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

input,
textarea {
  color: #ffffff;
  padding: 10px 12px;
  margin: 5px;
  border-radius: 6px;
  transition: border-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.2s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #ffffff;
  transform: scale(1.01);
}

.login-username,
.login-password,
.login-email,
.tfa-input,
.post-title,
.post-textarea {
  background-color: transparent;
  border: 1px solid gray;
  width: 100%;
  height: 50%;
  padding-left: 0.5em;
}

.tfa-input {
  height: 3em;
  margin: 3em 0;
}

.tfa-form {
  min-height: 40%;
}

label {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0.3em;
  height: 18%;
}

.showPw,
.Publish {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0;
}

.chack {
  margin-right: 5px;
  cursor: pointer;
}

.login-btn {
  width: 75%;
  height: 10%;
  margin-top: 1.2em;
  font-size: 18px;
  background-color: #444c56;
  border: none;
  color: #d1d5db;
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.container:has(.card-post-container:hover) .card-post-container:not(:hover) {
  filter: blur(4px);
  opacity: 0.5;
}

.card-post-container:hover {
  transform: scale(1.05);
  opacity: 1;
  filter: none;
}

.card-post-container {
  background-color: #343a45;
  padding: 1.2em;
  border: 1px solid gray;
  border-radius: 0.6em;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  min-height: 50%;
  width: 20%;
  margin: 9% 2em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.card-post-container:hover {
  transform: scale(1.12);
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.5);
}

.card-post-container h3 {
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
}

.card-post-container p {
  margin-bottom: 10em;
}

.about-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.about-container p,
h3 {
  line-height: 2;
  display: flex;
  justify-content: start;
  width: 50%;
}

.about-container h3 {
  margin: 3.8em 0 1em 0;
}
.techniques-contianer {
  width: 50%;
  height: 15%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.react-img,
.python-img {
  height: 100%;
}

.python-card,
.react-card {
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
  margin: 1.4em;
  padding: 0.5em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.python-card:hover,
.react-card:hover {
  transform: scale(1.15);
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.5);
}

.img-container {
  width: 100%;
  height: 40%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.no-post {
  margin: 6% 0;
}

.text-container {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.text-container p,
h2,
div {
  margin-bottom: 1em;
}

.text-container div {
  margin-bottom: 3em;
}

.text-container h2 {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.text-container p {
  color: gray;
}

.text-container a {
  background-color: #323840;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  margin-left: 0.5em;
}

.text-container a:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.edit-add-post-container {
  background-color: #343a45;
  padding: 2em;
  border: 1px solid gray;
  border-radius: 0.6em;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5);
  height: 70%;
  min-width: 25%;
  margin: 4% 2em 0 2em;
  display: flex;
  flex-direction: column;
}

.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2b3038;
  width: 100%;
  padding: 1.5em 14px;
  border: 1px solid gray;
  border-radius: 0.4em;
  margin-bottom: 2em;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  height: 380px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #2b3038;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.post {
  display: flex;
  background-color: #343a45;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 25%;
  width: 100%;
  margin: 0.5em 0;
  border: 1px solid gray;
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.post:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.post p {
  margin-right: 20px;
}

.delBtn,
.add-post-btn {
  background-color: #323840;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.delBtn:hover,
.add-post-btn:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.add-post-frame {
  position: absolute;
  backdrop-filter: blur(10px);
  color: #d1d5db;
  padding: 1.2em;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 2em;
  border-radius: 1em;
  min-width: 30%;
  min-height: 60%;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

.add-post-frame input,
textarea {
  margin: 1em 0;
}

.add-post-frame textarea {
  height: 200px;
}

.add-post-frame .clos-add-post-info {
  width: 100%;
  display: flex;
  justify-content: end;
}

.Publish {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1em 0 5em 0;
}

.Publish input {
  margin-right: 0.3em;
  cursor: pointer;
}

.add {
  width: 20%;
}
.upload-img {
  display: none;
}

.upload-label {
  background-color: #323840;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 1em 0;
}

.upload-label:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

#x {
  cursor: pointer;
}
